// Restore original mazer behavior now that the file is correctly loaded
.swal2-input.form-control {
    width: initial;
}

.swal2-textarea.form-control {
    width: initial;
}

.swal2-select.form-control {
    width: initial;
}