#:schema https://json.schemastore.org/any.json

root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
args_bin = []
bin = "./tmp/main"
pre_cmd = [
    "templ generate",
    "bun run copy:assets",
    "esbuild views/assets/js/app.js --bundle --outfile=views/assets/dist/app.js --minify --sourcemap",
    "sass --style compressed --load-path=node_modules --source-map --embed-source-map --quiet-deps views/assets/scss/app.scss:views/assets/css/app.css",
    "sass --style compressed --load-path=node_modules --source-map --embed-source-map --quiet-deps views/assets/scss/themes/dark/app-dark.scss:views/assets/css/app-dark.css",
    "npx rtlcss views/assets/css/app.css views/assets/css/app-rtl.css",
    "npx rtlcss views/assets/css/app-dark.css views/assets/css/app-dark.rtl.css",
]
cmd = "go build -o ./tmp/main cmd/*.go"
delay = 1000
entrypoint = ["./tmp/main"]
exclude_dir = ["assets", "tmp", "vendor", "testdata", "node_modules", ".void"]
exclude_file = ["app.css", "app-dark.css", "app-rtl.css", "app-dark.rtl.css"]
exclude_regex = ["_test.go", "_templ.go"]
exclude_unchanged = false
follow_symlink = false
full_bin = ""
include_dir = []
include_ext = ["go", "templ"]
include_file = []
kill_delay = "0s"
log = "build-errors.log"
poll = false
poll_interval = 0
post_cmd = []
rerun = false
rerun_delay = 500
send_interrupt = false
stop_on_error = false

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
main_only = false
silent = false
time = false

[misc]
clean_on_exit = false

[proxy]
app_port = 0
enabled = false
proxy_port = 0

[screen]
clear_on_rebuild = false
keep_scroll = true
