package pages

import (
    "github.com/ansufw/go-mazer/views/layouts"
	"github.com/ansufw/go-mazer/apps/web/config"
)

templ Home(sidebarItems []config.SidebarItem, filename string, children ...templ.Component) {

    @layouts.Base("Home", "Go Mazer", sidebarItems, filename, nil, nil) {
        "test home"
        { children... }
    }

    
}